
.App {
  text-align: center;
}

.brand-text {
  font-weight: 500;
  font-family: sans-serif;
}

#react-logo {
  color: #00d8ff;
}

.logo {
  height: 100px !important;
  width: 80px !important;
  margin-bottom: 18px !important;
}
.App-link {
  color: #61dafb;
}


.footer {
  margin-bottom: 0rem;
}
